<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To 404 and Beyonnnnnnnnd!</title>
  <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
  <style>
    body {
      width: 100vw;
      height: 100vh;
      background-image: url('https://media.giphy.com/media/xDQ3Oql1BN54c/giphy.gif');
      background-size: cover;
    }
  </style>
</head>
<body>

</body>
</html>