{% extends 'base.html' %}

{% block content %}

  <!-- If class BG is set, Flash messages are covered up -->
  <!-- <div class="bg"></div> -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group no-hover" id="messages">
        <li class="list-group-item">
          <a href="{{ url_for('users_show', user_id=message.user.id) }}">
            <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="message-area">
            <div class="message-heading">
              <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
              {% if g.user %}
                {% if g.user.id == message.user.id %}
                  <form method="POST"
                        action="/messages/{{ message.id }}/delete">
                    <button class="btn btn-outline-danger">Delete</button>
                  </form>
                {% elif g.user.is_following(message.user) %}
                  <form method="POST"
                        action="/users/stop-following/{{ message.user.id }}">
                    <button class="btn btn-primary">Unfollow</button>
                  </form>
                {% else %}
                  <form method="POST" action="/users/follow/{{ message.user.id }}">
                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
            <p class="single-message">{{ message.text }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
              <form method="POST" action="/messages/{{ message.id }}/like">
                <button class="btn btn-link" type="submit">
                   {% if not g.user.id == message.user_id %}
                    {% if g.user in message.users_liked %}
                    <i class="fas fa-lg fa-heart"></i>
                    {% else %}
                    <i class="far fa-lg fa-heart"></i>
                    {% endif %}
                  {% endif %}
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}